<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" style="background-color: #ffffff; display: flex; justify-content: center; align-items: center;">

  <!-- Card con el contenido de login -->
  <ion-card style="width: 100%; max-width: 400px; text-align: center;">
    
    <!-- Añadir logo y título en la parte superior de la card con flexbox -->
    <ion-card-header>
      <div style="display: flex; align-items: center; width: 100%; justify-content: flex-start;">
        <!-- Logo a la izquierda -->
        <img src="assets/Designer-removebg-preview.png" alt="Logo" style="width: 100px; margin-right: 10px;">
        
        <!-- Título de la card con algo de espacio a la izquierda -->
        <ion-card-title style="text-align: left; flex: 1; padding-left: 10px;">Iniciar Sesión</ion-card-title>
      </div>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="pageLogin.email" 
                     label="Correo Electrónico" 
                     label-placement="floating" 
                     placeholder="Correo Electrónico"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="pageLogin.password" 
                     label="Contraseña" 
                     type="password" 
                     label-placement="floating" 
                     placeholder="Contraseña"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand="block" (click)="login(pageLogin)">Ingresar</ion-button>
    </ion-card-content>
    
  </ion-card>

</ion-content>
