<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Card con el contenido de login -->
  <ion-card>
    <ion-card-header>
      <div style="display: flex; align-items: center; width: 100%; justify-content: flex-start;">
        <img src="assets/Designer-removebg-preview.png" alt="Logo" style="width: 100px; margin-right: 10px;">
        <ion-card-title>Iniciar Sesión</ion-card-title>
      </div>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="pageLogin.email" 
                     label="Correo Electrónico" 
                     label-placement="floating" 
                     placeholder="Correo Electrónico"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="pageLogin.password" 
                     label="Contraseña" 
                     type="password" 
                     label-placement="floating" 
                     placeholder="Contraseña"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand="block" (click)="login(pageLogin)" color="secondary">
        <ion-icon slot="start" name="log-in"></ion-icon>
        Acceder
      </ion-button>
      <ion-note slot="end">
        <a href="/forgot-password">¿Olvidaste tu contraseña?</a>
      </ion-note>
    </ion-card-content>
  </ion-card>
</ion-content>
